.random-symboles-4 {
  height: auto; /* Change height to auto to maintain aspect ratio */
  width: 100%; /* Adjust width to fit the container */
  max-width: 105.6px; /* Set max-width to original width */
  position: relative;
  object-fit: cover;
}
  .loanme {
    position: relative;
  }
  .loanme-wrapper,
  .random-symboles-4-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-xl) 0 0;
    box-sizing: border-box;
    min-width: 254px;
  }
  .random-symboles-4-parent {
    display: flex;
    flex-wrap: wrap; /* Allow content to wrap on smaller screens */
    align-items: flex-start;
    justify-content: center; /* Center content horizontally */
    padding: var(--padding-473xl) var(--padding-xl) var(--padding-474xl);
    box-sizing: border-box;
    min-width: 254px;
    max-width: 100%;
    background-color: var(--color-gray-100);
    overflow: hidden;
  }
  .sign-up1 {
    margin: 0;
    position: relative;
    font-size: inherit;
    line-height: 126.06%;
    font-weight: 700;
    font-family: inherit;
    white-space: nowrap;
  }
  .signup-input {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
  }
  .empty-space,
  .input,
  .phone-number {
    font-family: var(--font-satoshi);
    position: relative;
    text-align: left;
    display: inline-block;
  }
  .phone-number {
    width: 221px;
    font-size: var(--font-size-11xl);
    line-height: 38px;
    font-weight: 500;
    color: var(--color-darkgray);
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .empty-space,
  .input {
    font-size: var(--font-size-7xl);
  }
  .empty-space {
    line-height: 33px;
    color: var(--color-dimgray-100);
    min-width: 63px;
    white-space: nowrap;
  }
  .input {
    width: 153px;
    border: 0;
    outline: 0;
    background-color: transparent;
    height: 33px;
    letter-spacing: 0.04em;
    line-height: 126.06%;
    color: var(--color-gray-200);
    padding: 0;
  }
  .separator {
    align-self: stretch;
    border-radius: var(--br-sm);
    border: 1px solid var(--color-whitesmoke);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-10xl);
    gap: var(--gap-15xl);
  }
  .div,
  .password {
    position: relative;
    font-family: var(--font-satoshi);
    text-align: left;
  }
  .password {
    width: 150px;
    font-size: var(--font-size-11xl);
    line-height: 38px;
    font-weight: 500;
    color: var(--color-darkgray);
    display: inline-block;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .div {
    font-size: var(--font-size-7xl);
    line-height: 33px;
    color: var(--color-dimgray-100);
  }
  .separator1 {
    align-self: stretch;
    border-radius: var(--br-sm);
    border: 1px solid var(--color-whitesmoke);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-5xl) var(--padding-10xl);
  }
  .confirm-password,
  .div1 {
    position: relative;
    font-family: var(--font-satoshi);
    text-align: left;
  }
  .confirm-password {
    width: 268px;
    font-size: var(--font-size-11xl);
    line-height: 38px;
    font-weight: 500;
    color: var(--color-darkgray);
    display: inline-block;
    box-sizing: border-box;
    padding-right: var(--padding-xl);
  }
  .div1 {
    font-size: var(--font-size-7xl);
    line-height: 33px;
    color: var(--color-dimgray-100);
  }
  .phone-number-parent,
  .separator2 {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
  }
  .separator2 {
    border-radius: var(--br-sm);
    border: 1px solid var(--color-whitesmoke);
    overflow: hidden;
    flex-direction: row;
    padding: var(--padding-5xl) var(--padding-10xl);
  }
  .phone-number-parent {
    flex-direction: column;
    gap: var(--gap-xs);
  }
  .get-otp {
    position: relative;
    font-size: var(--font-size-7xl);
    line-height: 33px;
    font-weight: 900;
    font-family: var(--font-satoshi);
    color: var(--color-white);
    text-align: left;
    display: inline-block;
    min-width: 106px;
  }
  .frame-parent,
  .get-o-t-p-button {
    align-self: stretch;
    display: flex;
    align-items: flex-start;
  }
  .get-o-t-p-button {
    cursor: pointer;
    border: 0;
    padding: var(--padding-5xl) var(--padding-xl) var(--padding-5xl) 49px;
    background-color: var(--color-dodgerblue-100);
    border-radius: var(--br-sm);
    overflow: hidden;
    flex-direction: row;
    justify-content: center;
  }
  .get-o-t-p-button:hover {
    background-color: var(--color-dodgerblue-200);
  }
  .frame-parent {
    margin: 0;
    flex-direction: column;
    justify-content: flex-start;
    padding: 0 0 143px;
    gap: var(--gap-43xl);
  }
  .sign-in {
    color: var(--color-dodgerblue-100);
  }
  .already-have-an-container {
    position: relative;
    line-height: 33px;
    font-weight: 500;
  }
  .already-have-an-account-sign-wrapper {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl) 0 var(--padding-2xl);
    text-align: left;
    font-size: var(--font-size-7xl);
    color: var(--color-darkgray);
    font-family: var(--font-satoshi);
  }
  .sign-up-inner,
  .signup-input-parent {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .signup-input-parent {
    align-self: stretch;
    justify-content: flex-start;
    gap: var(--gap-94xl);
  }
  .sign-up-inner {
    width: 735px;
    justify-content: flex-end;
    padding: 0 0 var(--padding-16xl);
    box-sizing: border-box;
    min-width: 735px;
    max-width: 100%;
    font-size: var(--font-size-21xl);
    color: var(--color-steelblue);
  }
  .sign-up {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-start;
    gap: var(--gap-130xl);
    letter-spacing: normal;
    text-align: left;
    font-size: var(--font-size-49xl-4);
    color: var(--color-dodgerblue-100);
    font-family: var(--font-satoshi);
  }

  /* Further adjustments for even smaller screens */
@media screen and (max-width: 450px) {
  .random-symboles-4 {
    max-width: 100%; /* Set max-width to 100% for smaller screens */
  }
  .random-symboles-4-parent {
    padding: var(--padding-189xl);
  }
}

  @media screen and (max-width: 1500px) {
    .random-symboles-4-parent,
    .sign-up-inner {
      flex: 1;
    }
    .sign-up {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1225px) {
    .random-symboles-4-parent {
      padding-top: var(--padding-301xl);
      padding-bottom: var(--padding-301xl);
      box-sizing: border-box;
    }
    .sign-up {
      gap: 149px 74px;
    }
  }
  @media screen and (max-width: 850px) {
    .loanme {
      font-size: var(--font-size-36xl);
    }
    .random-symboles-4-parent {
      min-width: 100%;
    }
    .sign-up1 {
      font-size: var(--font-size-13xl);
      line-height: 40px;
    }
    .confirm-password,
    .password,
    .phone-number {
      font-size: var(--font-size-5xl);
      line-height: 30px;
    }
    .frame-parent {
      gap: 31px 62px;
      padding-bottom: 93px;
      box-sizing: border-box;
    }
    .signup-input-parent {
      gap: 56px 113px;
    }
    .sign-up-inner {
      min-width: 100%;
    }
    .sign-up {
      gap: 149px 37px;
    }
  }
  @media screen and (max-width: 450px) {
    .random-symboles-4 {
      flex: 1;
    }
    .loanme {
      font-size: var(--font-size-22xl);
    }
    .loanme-wrapper {
      flex: 1;
    }
    .random-symboles-4-parent {
      flex-wrap: wrap;
      padding-top: var(--padding-189xl);
      padding-bottom: var(--padding-189xl);
      box-sizing: border-box;
    }
    .sign-up1 {
      font-size: var(--font-size-5xl);
      line-height: 30px;
    }
    .phone-number {
      font-size: var(--font-size-lg);
      line-height: 23px;
    }
    .empty-space,
    .input {
      font-size: var(--font-size-2xl);
      line-height: 26px;
    }
    .separator {
      flex-wrap: wrap;
      gap: 34px 17px;
    }
    .password {
      font-size: var(--font-size-lg);
      line-height: 23px;
    }
    .div {
      font-size: var(--font-size-2xl);
      line-height: 26px;
    }
    .confirm-password {
      font-size: var(--font-size-lg);
      line-height: 23px;
    }
    .div1,
    .get-otp {
      font-size: var(--font-size-2xl);
      line-height: 26px;
    }
    .frame-parent {
      gap: 15px 62px;
    }
    .already-have-an-container {
      font-size: var(--font-size-2xl);
      line-height: 26px;
    }
    .signup-input-parent {
      gap: 28px 113px;
    }
    .sign-up {
      gap: 149px 19px;
    }
  }
  